* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }
  
  header {
    background-image: url(Figma-header.png);
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 60px;
  }
  header nav .logo-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav .logo-links .logo {
    position: relative;
    left: -2%;
  }
  header nav .logo-links #dot {
    position: absolute;
    left: 37.5%;
    top: -20%;
  }
  header nav .logo-links span {
    font-size: 23px;
    color: rgb(255, 255, 255);
    font-weight: 700;
  }
  header nav .logo-links a {
    text-decoration: none;
    margin: 29px;
    color: rgb(255, 255, 255);
    font-size: 14.3px;
  }
  header nav .logo-links #home {
    color: rgb(235, 102, 43);
  }
  header nav .sign-up {
    font-size: 14px;
  }
  header nav .sign-up a {
    color: rgb(255, 255, 255);
    margin: 30px;
    text-decoration: none;
  }
  header nav .sign-up button {
    border: 1px solid rgb(255, 255, 255);
    background: none;
    margin: 22px 60px 22px 0;
    padding: 12px 22px;
    border-radius: 100px;
    color: rgb(255, 255, 255);
  }
  header .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 305px 50px 305px;
  }
  header .center .content .first-p {
    font-size: 55px;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  header .center .content .second-p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 30px;
    font-weight: 400;
  }
  header .center .content .third-p {
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 70px 0 30px 0;
  }
  header .center .content .search {
    position: relative;
  }
  header .center .content .search input {
    padding: 15px 180px 15px 40px;
    border-radius: 100px;
    border: none;
    background: rgb(255, 255, 255);
  }
  header .center .content .search i {
    position: absolute;
    top: -14%;
    padding: 20px 18px;
    transform: translateY(-50%, -50%);
    font-size: 20px;
    color: rgb(5, 7, 60);
  }
  header .center .content .search button {
    position: absolute;
    left: 565px;
    top: 5px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100px;
    background-color: rgb(235, 102, 43);
  }
  header .center .content #btn {
    background-color: rgba(255, 255, 255, 0.15);
    color: rgb(255, 255, 255);
    padding: 16px 29px 16px 66px;
    margin-right: 20px;
    border: none;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
  }
  
  main .best-of h3 {
    padding: 120px 0 10px 100px;
    font-weight: 700;
    font-size: 29px;
    margin-left:120px;
  }
  main .best-of h3 span {
    color: rgb(198, 198, 210);
  }
  main .box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  main .box .container {
    height: 398px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(231, 230, 230);
    margin: 10px;
  }
  main .box .container .image-1 {
    background-image: url(bestof-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 238px;
  }
  main .box .container .image-2 {
    background-image: url(bestof-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 238px;
  }
  main .box .container .image-3 {
    background-image: url(bestof-3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 238px;
  }
  main .box .container .image-4 {
    background-image: url(bestof-4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 238px;
  }
  main .box .container .white-circle {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    position: absolute;
    left: 88%;
    top: 56%;
  }
  main .box .container .text .city {
    padding: 10px 0 10px 40px;
    color: rgb(113, 113, 113);
    font-size: 11px;
  }
  main .box .container .text hr {
    width: 85%;
    margin: 5px 15px;
  }
  main .box .container .text .info {
    padding: 7px 15px;
    font-size: 15px;
  }
  main .box .container .text .money {
    text-align: center;
    font-size: 12px;
  }
  main .box .container .moneydays {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 12px;
  }
  main .box .container .moneydays span {
    font-weight: 500;
  }
  main .three-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 180px 0 0 0;
  }
  main .three-div .box-1 {
    width: 310.98px;
    height: 307.13px;
    background-image: url(second-section-img-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px;
  }
  main .three-div .box-1 .para-1 {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  main .three-div .box-1 .para-2 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 10px 0 0 0;
  }
  main .three-div .box-1 button {
    margin-top: 170px;
    border: none;
    padding: 17px 60px 17px 30px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 500;
  }
  main .three-div .box-2 {
    width: 310.98px;
    height: 307.13px;
    background-image: url(second-section-img-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px;
  }
  main .three-div .box-2 .para-1 {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  main .three-div .box-2 .para-2 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 10px 0 0 0;
  }
  main .three-div .box-2 button {
    margin-top: 170px;
    border: none;
    padding: 17px 60px 17px 30px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 500;
  }
  main .three-div .box-3 {
    width: 310.98px;
    height: 307.13px;
    background-image: url(second-section-img-3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px;
  }
  main .three-div .box-3 .para-1 {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  main .three-div .box-3 .para-2 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 10px 0 0 0;
  }
  main .three-div .box-3 button {
    margin-top: 170px;
    border: none;
    padding: 17px 60px 17px 30px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 500;
  }
  main .container-2 .content {
    width: 400px;
    height: 280px;
  }
  main .container-2 .food-menu {
    height: 210px;
    width: 190px;
    background-color: aqua;
  }
  
  
  
  
  *{
    margin:0;
    padding: 0;
    font-family: Inter;
  }
  .orange{
    margin-top:120px;
    /* width: 100%; */
    height: 693px;
    /* top: 2198.09px; */
  
    /* width:100%; */
    background-color:rgb(253,239,234);
    
  }
  /* .contained{
    background-color:brown;
       width:1920px;
       border: 2px solid;
       margin-left :auto;
       margin-right: auto;
       position:relative;
       height: 693px;
  } */
  .orange>p:nth-of-type(1){
    width: 294.31px;
    height: 45px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    margin:205.82px 1180.02px 205.8px 315px;
  
  }
  .orange>p:nth-of-type(2){
    width: 406.09px;
    height: 76.25px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    /* text-align: left; */
    position: absolute;
    margin:299.82px 1198.91px 316.93px 315px;
  
  
  }
  .orange>button{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
  /* line-height: 28px; */
    width: 409.98px;
    height: 62px;
    background: #EB662B;
    position: absolute;
    margin: 410.19px 1195.02px 220.81px 315px;
    padding: 21px, 0px, 21px, 0px;
    border-radius: 12px;
    border:none;
    color:white;
  }
  .orange>div{
  width: 189.98px;
  height: 211.5px;
  /* top: 120px
  left: 975px */
  border-radius: 12px;
  background-color: white;
  position: absolute;
  
  }
  .orange>div:nth-of-type(1){
  margin:120px 755.02px 361.5px 975px;
  }
  .orange>div:nth-of-type(1)>div{
    position:absolute; 
    width: 80px;
  height: 80px;
  
  padding: 19.5px, 20px, 19.5px, 20px;
  border-radius: 80px;
  margin:30px 55px 101.5px 54.98px;
  background: #FEF7F4;
  
  
  }
  .orange>div:nth-of-type(1)>div>img{
    width: 40px;
  height: 41px;
  
  margin:19.5px 20px 19.5px 20px;
  }
  .orange>div:nth-of-type(1)>p:nth-of-type(1){
    position: absolute;
    width: 86px;
  height: 27px;
  margin:130px 51.89px 54.5px 52.09px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color:black;
  
  }
  .orange>div:nth-of-type(1)>p:nth-of-type(2){
    position: absolute;
    width: 75.29px;
  height: 20px;
  margin:161px 57.25px 30.5px 57.44px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  
  
  }
  .orange>div:nth-of-type(2){
    margin:120px 535.04px 361.5px 1194.98px;
    }
    .orange>div:nth-of-type(2)>div{
        position:absolute; 
        width: 80px;
    height: 80px;
    
    padding: 19.5px, 20px, 19.5px, 20px;
    border-radius: 80px;
    margin:30px 55px 101.5px 54.99px;
    background: #FEF7F4;
    
    
    }
    .orange>div:nth-of-type(2)>div>img{
        width: 40px;
    height: 41px;
    margin:19.5px 20px 19.5px 20px;
    }
    .orange>div:nth-of-type(2)>p:nth-of-type(1){
        position: absolute;
        width: 117.76px;
    height: 27px;
    margin:130px 36.01px 54.5px 36.21px;
    font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
    color:black;
    }
    .orange>div:nth-of-type(2)>p:nth-of-type(2){
        position: absolute;
        width: 75.3px;
    height: 20px;
    margin:161px 57.25px 30.5px 57.44px;
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    }
    .orange>div:nth-of-type(3){
        margin:120px 315.05px 361.5px 1414.97px;
    }
    .orange>div:nth-of-type(3)>div{
        position:absolute; 
        width: 80px;
    height: 80px;
    
    padding: 19.5px, 20px, 19.5px, 20px;
    border-radius: 80px;
    margin:30px 55px 101.5px 54.99px;
    background: #FEF7F4;
    
    
    }
    /* .orange>div:nth-of-type(3)>div>img{
        width: 40px;
    height: 41px;
    margin:19.5px 20px 19.5px 20px;
    } */
  
  .orange>div:nth-of-type(3)>p:nth-of-type(1){
        position: absolute;
        width: 101.12px;
  height: 27px;
    margin:130px 44.33px 54.5px 44.53px;
    font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
    color:black;
    }
    .orange>div:nth-of-type(3)>p:nth-of-type(2){
        position: absolute;
        width: 75.29px;
    height: 20px;
    margin:161px 57.25px 30.5px 57.44px;
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    }
    .orange>div:nth-of-type(4){
        margin:361.5px 755.02px 120px 975px;
    }
    .orange>div:nth-of-type(4)>div{
        position:absolute; 
        width: 80px;
    height: 80px;
    
    padding: 19.5px, 20px, 19.5px, 20px;
    border-radius: 80px;
    margin:30px 55px 101.5px 54.98px;
    background: #FEF7F4;
    }
    .orange>div:nth-of-type(4)>p:nth-of-type(1){
        position: absolute;
        width: 81.72px;
        height: 27px;
        margin:130px 54.03px 54.5px 54.23px;
    font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
    color:black;
    }
    .orange>div:nth-of-type(4)>p:nth-of-type(2){
        position: absolute;
        width: 75.29px;
    height: 20px;
    margin:162px 57.45px 30px 57.44px;
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    }
    .orange>div:nth-of-type(5){
        margin:361.5px 535.04px 120px 1194.98px;
    }
    .orange>div:nth-of-type(5)>div{
        position:absolute; 
        width: 80px;
    height: 80px;
    
    padding: 19.5px, 20px, 19.5px, 20px;
    border-radius: 80px;
    margin:30px 55px 101.5px 54.99px;
    background: #FEF7F4;
    }
    .orange>div:nth-of-type(5)>p:nth-of-type(1){
        position: absolute;
        width: 103.5px;
  height: 27px;
        margin:130px 54.03px 54.5px 43.35px;
    font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
    color:black;
    }
    .orange>div:nth-of-type(5)>p:nth-of-type(2){
        position: absolute;
        width: 75.09px;
    height: 20px;
    margin:162px 57.24px 30.5px 57.44px;
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    }
    .orange>div:nth-of-type(6){
        margin:361.5px 315.05px 120px 1414.97px;
    }
    .orange>div:nth-of-type(6)>div{
        position:absolute; 
        width: 80px;
    height: 80px;
    
    padding: 19.5px, 20px, 19.5px, 20px;
    border-radius: 80px;
    margin:30px 55px 101.5px 54.99px;
    background: #FEF7F4;
    }
    .orange>div:nth-of-type(6)>p:nth-of-type(1){
        position: absolute;
        width: 93.22px;
  height: 27px;
        margin:130px 48.28px 54.5px 48.48px;
    font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
    color:black;
    }
    .orange>div:nth-of-type(6)>p:nth-of-type(2){
        position: absolute;
        width: 75.09px;
    height: 19.5px;
    margin:162px 57.25px 30.5px 57.44px;
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    }
    .destination{
        /* margin-left:300px;
        margin-right: 300px;
        width:1320px; */
        margin-top: 115px;
        height: 428px;
        
        position: relative;
        
        
    }
    .destination>p{
        width: 322.48px;
  height: 45px;
  position: absolute;
  /* 120 */
  margin: 5px 1282.52px 378px 315px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  }
  .destination>button{
    width: 44.79px;
  height: 28.13px;
  /* 136.88px */
  margin:21.88px 340.8px 377.99px 1534.41px;
  font-family: Inter;
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  border:none;
  background-color: white;
  
  }
  .destination>div:nth-of-type(1){
    margin-left: 315px;
    width:1320px;
    height: 247.81px;
    display: flex;
    gap:30px;
    margin-top: -333px;
  }
  .destination>div:nth-of-type(2){
    position: absolute;
    margin-left: 315px;
    /* width:1320px;
    height: 247.81px; */
    display: flex;
    
    margin-top: 20.1px;
  }
  .destination>div:nth-of-type(2)>p:nth-of-type(1){
    width: 64px;
  height: 27px;
  /* top: 362.82px
  left: 15px */
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  }
  .destination>div:nth-of-type(2)>p:nth-of-type(2){
    width: 103.5px;
  height: 27px;
  
  margin-left: 156px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  }
  .destination>div:nth-of-type(2)>p:nth-of-type(3){
    width: 86px;
  height: 27px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 116.5px;
  
  }
  .destination>div:nth-of-type(2)>p:nth-of-type(4){
    width: 114.17px;
  height: 27px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 134px;
  
  }
  .destination>div:nth-of-type(2)>p:nth-of-type(5){
    width: 42.53px;
  height: 27px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 105.83px;
  
  }
  .destination>div:nth-of-type(2)>p:nth-of-type(6){
    width: 52.01px;
  height: 27px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 177.47px;
  
  }
  .destination>div:nth-of-type(3){
    /* position: absolute; */
    margin-left: 315px;
    /* width:1320px;
    height: 247.81px; */
    display: flex;
    gap:149.71px;
    margin-top: 52.1px;
  }
  .destination>div:nth-of-type(3)>p{
    width: 70.29px;
  height: 18px;
  /* top: 394.82px
  left: 235px */
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  }
  .choose{
    width: 1250px;
  height: 701.63px;
  margin-top: 105px;
  margin-left: 192px;
  border-radius: 24px;
  background: #EB662B0D;
  position: relative;
  }
  .choose>p:nth-of-type(1){
    position: absolute;
    width: 181.3px;
  height: 84px;
  margin:123px 835.72px 494.63px 232.98px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  }
  .choose>img:nth-of-type(1){
    position: absolute;
    margin: 270px 967.02px 381.63px 232.98px;
  }
  .choose>img:nth-of-type(2){
    position: absolute;
    margin: 393.25px 967.02px 258.38px 232.98px;
  }
  .choose>img:nth-of-type(3){
    position: absolute;
    margin: 516.5px 967.02px 135.13px 232.98px;
  }
  .choose>p:nth-of-type(2){
    width: 153.14px;
  height: 27px;
  position: absolute;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin:270px 783.88px 404.63px 312.98px;
  
  }
  .choose>p:nth-of-type(3){
    position: absolute;
  width: 297.6px;
  height: 48.13px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin:322px 639.42px 342.5px 312.98px;
  }
  .choose>p:nth-of-type(4){
    width: 204.4px;
  height: 27px;
  
  position: absolute;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  
  margin:393.25px 732.62px 281.38px 312.98px;
  
  }
  .choose>p:nth-of-type(5){
    width: 277.38px;
  height: 48.13px;
  position: absolute;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin:444.25px 659.64px 219.25px 312.98px;
  
  }
  .choose>p:nth-of-type(6){
    width: 158.56px;
  height: 27px;
  position: absolute;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin:516.5px 778.46px 158.13px 312.98px;
  }
  .choose>p:nth-of-type(7){
    position: absolute;
    width: 291.58px;
    height: 28.13px;
    font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin:553.5px 645.44px 120px 312.98px;
    
  }
  .choose>img:nth-of-type(4){
    position: absolute;
    margin: 50px -290px 50px 930px;
  }
  .miles{
    /* width:1920px; */
    padding-top: 120px;
    height: 409.5px;
    /* border: 2px solid; */
  }
  .miles>div:nth-of-type(1){
    height: 61px;
    /* border: 2px solid; */
    display: flex;
    gap:270px;
  }
  .miles>div:nth-of-type(1)>img:nth-of-type(1){
    margin-left: 435px;
  }
  .miles>div:nth-of-type(2){
    margin-top: 30px;
    height: 56px;
    
    display: flex;
  }
  .miles>div:nth-of-type(2)>p:nth-of-type(1){
    width: 107.92px;
  height: 56px;
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 411.14px;
  
  
  
  }
  .miles>div:nth-of-type(2)>p:nth-of-type(2){
    width: 84.45px;
  height: 56px;
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 233.82px;
  }
  .miles>div:nth-of-type(2)>p:nth-of-type(3){
    width: 78.37px;
  height: 56px;
  font-family: Inter;
  font-size: 37px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 248.58px;
  
  
  }
  .miles>div:nth-of-type(2)>p:nth-of-type(4){
    width: 85.04px;
  height: 56px;
  margin-left: 248.3px;
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  }
  .miles>div:nth-of-type(3){
    height: 22.5px;
    
    display: flex;
  }
  .miles>div:nth-of-type(3)>p:nth-of-type(1){
    width: 107.53px;
  height: 22.5px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 411.33px;
  
  }
  
  .miles>div:nth-of-type(3)>p:nth-of-type(2){
    width: 130.59px;
  height: 22.5px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 210.94px;
  
  }
  
  .miles>div:nth-of-type(3)>p:nth-of-type(3){
    width: 96.03px;
  height: 22.5px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 216.69px;
  
    
  }
  .miles>div:nth-of-type(3)>p:nth-of-type(4){
    margin-left: 229.86px;
    width: 104.25px;
  height: 22.5px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  
  
    
  }
  
  
  body {
    margin: 0%;
    padding: 0%;
    background-color: white;
  }
  
  .poster {
    background-image: url("./Section\ →\ image.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 500.25px;
  
  
    h2 {
        color: white;
        text-align: center;
        width: 670.93px;
        height: 105px;
        font-family: Inter;
        font-size: 69px;
        font-weight: 700;
        line-height: 107px;
        letter-spacing: 0em;
        text-align: center;
    }
  
    p {
        color: white;
        width: 395.05px;
        height: 48.12px;
        top: 119px;
        left: 152.93px;
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 0%;
    }
  
    img {
        width: 60px;
        height: 60px;
        top: 201.25px;
        left: 320.35px;
        margin-top: 0%;
    }
  }
  
  .cards {
  
    width: 100%;
    background: #EB662B0D;
    padding-top: 80px;
    padding-bottom: 100px;
  
    &>h2 {
        margin-left: 10%;
        font-weight: 600px;
        font-size: 30px;
        margin-bottom: 100px;
    }
  
    .section {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
  
        .card {
            width: 80%;
            padding-left: 7%;
            padding-right: 10%;
            padding-bottom: 5%;
            border-radius: 8px;
            background-color: white;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  
            .intro {
                display: flex;
                align-items: center;
  
                p {
                    line-height: 5px;
                    margin-left: 10px;
                    padding-top: 15px;
                }
  
            }
        }
    }
  
    .foot {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        line-height: 30%;
    }
  }
  
  .travel {
    width: 80%;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 5%;
  
    h2 {
        margin-bottom: 2%;
    }
  
    .travels {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        width: 100%;
        gap: 2%;
        box-sizing: border-box;
  
        img {
            width: 100%;
        }
  
        a {
            text-decoration: none;
            color: black;
        }
  
    }
  
    .travel-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
  
    }
  }
  
  .sub {
    background-image: url(./man.png);
    background-position: center;
    background-size: cover;
    height: 30vh;
    padding: 6% 9%;
  
    &>div {
        margin-left: 10%;
        width: 30%;
        color: white;
    }
  
    .search-container {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 8px;
        width: 85%;
        background-color: #5D57CC;
    }
  
    .search-input {
        padding: 8px;
        border: none;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #5D57CC;
        color: white;
  
        &::placeholder {
            color: white;
        }
    }
  
    /* Style for the search button */
    .search-button {
        padding: 8px 16px;
        background-color: white;
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
  
    /* Style for button on hover */
    .search-button:hover {
        background-color: #0056b3;
    }
  }
  
  .footer {
    border: 2px solid #05073C;
    background-color: #05073C;
    margin-top: 0%;
    padding-top: 0%;
  
    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 55%;
        margin: auto;
        color: white;
        margin-top: 26px;
        margin-bottom: 26px;
    }
  
    .footer-links {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 2fr;
        grid-template-rows: 100px 100px;
        gap: 50px;
        width: 70%;
        margin: auto;
        padding-bottom: 14%;
    }
    .child{
        display: flex;
        flex-direction: column;
        line-height: 30px;
        color: white;
        h6{
            font-size: large;
        }
        a{
            text-decoration: none;
            color: white;
        }
        .search-container{
            display: flex;
            flex-direction: row;
            .search-input{
                padding: 8px;
                border-radius: 6px;
            }
            .search-button{
                padding: 8px;
                background-color: white;
                border-radius: 6px;
            }
        }
    }
    .copyright{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        img{
            width: 30px;
            height: 20px;
        }
    }
  
    
  }
  
  
  .underline-div {
    border-bottom: 1px solid rgb(233, 233, 233);
    margin-bottom: 10px;
  }
  @media(min-width:1200px){
    body{
        max-width: 1920px;
        margin: auto;
    }
  }
  
  
  
  
  /*# sourceMappingURL=style.css.map */
  